---
import type { ProjectItem } from "../../types";
import type { IconDefinition } from "../../styles/theme/IconSvg";
import Layout from "@layouts/Page.astro";
import Icon from "@components/base/Icon";
import { imgMap } from "@utils/constants";
import base from "@/data/projects.json";

export const getStaticPaths = () => {
  return [
    { params: { projectName: "flaskCricket" } },
    { params: { projectName: "bbcSleighRide" } },
    { params: { projectName: "clanhub" } },
    { params: { projectName: "portfolio" } },
  ];
};

const { projectName } = Astro.params;
const project = base.projects.find(
  (project) => project.titleShort === projectName
);
const {
  title,
  category,
  imgSrc,
  imgAlt,
  details,
  technologiesUsed,
  githubHref,
} = project as ProjectItem;
---

<Layout>
  <div class="flex w-screen h-full sm:h-screen items-center page-padding">
    <div
      class="relative flex flex-col-reverse items-stretch justify-between sm:flex-row gap-8 w-full 2xl:mt-32"
    >
      <div class="flex flex-col justify-center gap-2">
        <div class="project-heading pb-2">
          <h5 class="secondary">{category}</h5>
          <h2 class="pt-1">{title}</h2>
        </div>
        <ul class="project-details list-disc">
          {details.map((detail) => <li class="body2 pb-1.5 ml-3">{detail}</li>)}
        </ul>
        <div
          class="flex gap-4 flex-col xs:flex-row sm:flex-col md:flex-row pt-4"
        >
          <a href={githubHref} target="_blank">
            <button class="button primary">See Github</button>
          </a>
          <a href="" target="_blank">
            <button class="button outlined">View live version</button>
          </a>
        </div>
        <div class="project-icons items-center flex gap-4 pt-6 pb-32 sm:pb-0">
          {
            technologiesUsed.map((technology: IconDefinition) => (
              <Icon icon={technology} width="w-6" class="md:w-7" client:only />
            ))
          }
        </div>
      </div>
      <div class="project-name-img sm:min-w-[18rem] pt-32 sm:pt-0">
        <div class="relative flex flex-col h-full max-h-[24rem]">
          <div
            class="dark:bg-dark-overlay-primaryMuted bg-light-overlay-primaryMuted absolute inset-0"
          >
          </div>
          <img
            src={imgMap[imgSrc]}
            class="rounded-sm w-full h-full"
            alt={imgAlt}
          />
        </div>
      </div>
    </div>
  </div>
</Layout>
