---
import Heading from "@components/Heading.astro";
import type { IconDefinition } from "@styles/theme/IconSvg";
import { Image } from "astro:assets";
import Icon from "@components/base/Icon";
import Profile from "@assets/images/personal_profile.jpg";
import CV from "@assets/ollyMarstersCv.pdf";

const myDescriptionParas = [
  "My name is Olly, I’m a full-stack developer, based in Edinburgh.",
  "I am always looking for any opportunities I can find to improve my skillset and learn new things. I am particularly focused on frontend development as I find the constantly evolving landscape of technologies used in this space to be incredibly exciting.",
  "I passionately believe that making tech more diverse is essential for enabling development teams to create digital experiences for everyone.",
  "Whether you would like to find out what I can help you with or just want to start a conversation about tech, don’t hesitate to get in touch via the form below.",
];

const technologies: IconDefinition[] = [
  "typescript",
  "react",
  "nextjs",
  "sass",
  "tailwind",
  "sanity",
  "supabase",
  "trpc",
  "linux",
];
---

<div
  id="about"
  class="page-padding page-max-width page-margin-top animate-appear"
>
  <Heading title="About Me" className="page-margin-top" />
  <div class="about-content">
    <div class="about-profile">
      <Image src={Profile} alt="personal profile" class="rounded-sm pb-2" />
      <a href={CV} target="_blank" rel="noopener" download="Olly_Marsters.pdf">
        <p class="action">Download CV</p>
      </a>
    </div>
    <div class="about-description">
      {myDescriptionParas.map((para) => <p class="body1 pb-6">{para}</p>)}
      <hr class="horizontal-line line-pb" />
      <span class="h5">Tech I like</span>
      <div
        class="flex justify-start items-center flex-wrap gap-5 max-w-md pt-4"
      >
        {
          technologies.map((tech) => (
            <Icon
              icon={tech}
              width="w-5 md:w-7"
              client:load
              aria-label={tech}
            />
          ))
        }
      </div>
    </div>
  </div>
</div>
