---
import base from "@/data/projects.json";
import Project from "@components/Project.astro";
import Heading from "@components/Heading.astro";

interface ProjectItem {
  title: string;
  description: string;
  category: string;
  technologiesUsed: string[];
  imgSrc: string;
  imgAlt: string;
}

const { projects } = base;
---

<div class="projects-screen page-padding page-max-width screen">
  <Heading title="Projects" />
  <div class="flex lg:justify-between flex-wrap lg:flex-nowrap gap-8">
    {
      projects.map((project: ProjectItem) => (
        <Project
          title={project.title}
          description={project.description}
          category={project.category}
          src={project.imgSrc}
          alt={project.imgAlt}
          tech={project.technologiesUsed}
        />
      ))
    }
  </div>
</div>
