---
import base from "@/data/projects.json";
import Project from "@components/Project.astro";
import Heading from "@components/Heading.astro";

const { projects } = base;
---

<div class="projects-screen page-padding page-max-width screen lg:mb-72">
  <Heading title="Projects" />
  <p class="body1 pb-10">
    Click on the projects listed below to see information about each in further
    detail
  </p>
  <div class="flex 2xl:justify-between flex-wrap gap-8">
    {
      projects.map((project: any) => (
        <Project
          title={project.title}
          titleShort={project.titleShort}
          description={project.description}
          category={project.category}
          src={project.imgSrc}
          alt={project.imgAlt}
          tech={project.technologiesUsed}
        />
      ))
    }
  </div>
</div>
