---
import Icon from "@components/base/Icon";
import ImgOverlay from "@components/ImgOverlay.astro";

type Props = {
  title: string;
  titleShort: string;
  description: string;
  category: string;
  src: string;
  alt: string;
  tech: string[];
  githubHref: string;
  index: number;
};

const { title, titleShort, category, src, alt, githubHref, index } =
  Astro.props;
const link = `/project/${titleShort}`;
---

<div class=`project-item project-item__${index}`>
  <div class="relative cursor-pointer md:h-[20rem] mb-4">
    <div class="project-links">
      <a href={githubHref} target="_blank" rel="noopener" aria-label="Github">
        <Icon
          icon="github"
          width="w-4 sm:w-5 cursor-pointer"
          projectName={titleShort}
          client:load
        />
      </a>
      <Icon
        icon="external"
        width="w-4 sm:w-5 cursor-pointer"
        projectName={titleShort}
        client:load
      />
    </div>
    <a href={link}>
      <ImgOverlay titleShort={titleShort} src={src} alt={alt} />
    </a>
  </div>
  <div class="project-title animate-project-appear">
    <span class="h5 secondary">{category}</span>
    <h3 class="pt-1">{title}</h3>
  </div>
</div>
