---
import Icon from "@components/base/Icon";
import { imgMap } from "@utils/constants";

type Props = {
  title: string;
  titleShort: string;
  description: string;
  category: string;
  src: string;
  alt: string;
  tech: string[];
};

const { title, titleShort, category, src, alt } = Astro.props;
---

<a href=`/project/${titleShort}` class="w-96">
  <div class="flex flex-col max-w-full lg:flex-[0_0_31%]">
    <div class="relative cursor-pointer md:h-[20rem] mb-4">
      <div class="flex gap-6 absolute top-6 right-6">
        <Icon icon="github" width="w-4 sm:w-5 cursor-pointer" />
        <Icon icon="external" width="w-4 sm:w-5 cursor-pointer" />
      </div>
      <div class="bg-overlay-primary absolute inset-0"></div>
      <img src={imgMap[src]} class="rounded-sm w-full h-full" alt={alt} />
    </div>
    <div class="project-title">
      <h5 class="text-secondary-dark">{category}</h5>
      <h3 class="pt-1">{title}</h3>
    </div>
  </div>
</a>
